@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.lucide {
  cursor: pointer;
}

.theme-default {
  --background: 0 0% 100%;
  --foreground: 20 14.3% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 20 14.3% 4.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;
  --primary: 24 9.8% 10%;
  --primary-foreground: 60 9.1% 97.8%;
  --secondary: 60 4.8% 95.9%;
  --secondary-foreground: 24 9.8% 10%;
  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;
  --accent: 60 4.8% 95.9%;
  --accent-foreground: 24 9.8% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;
  --warn: 30.9 95.8% 60.1%;
  --warn-foreground: 60 9.1% 97.8%;
  --success: 142.1 76.2% 36.3%;
  --success-foreground: 60 9.1% 97.8%;
  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;
  --ring: 20 14.3% 4.1%;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --radius: 0.5rem;
}
.theme-default-dark {
  --background: 20 14.3% 4.1%;
  --foreground: 60 9.1% 97.8%;
  --card: 20 14.3% 4.1%;
  --card-foreground: 60 9.1% 97.8%;
  --popover: 20 14.3% 4.1%;
  --popover-foreground: 60 9.1% 97.8%;
  --primary: 60 9.1% 97.8%;
  --primary-foreground: 24 9.8% 10%;
  --secondary: 12 6.5% 15.1%;
  --secondary-foreground: 60 9.1% 97.8%;
  --muted: 12 6.5% 15.1%;
  --muted-foreground: 24 5.4% 63.9%;
  --accent: 12 6.5% 15.1%;
  --accent-foreground: 60 9.1% 97.8%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 60 9.1% 97.8%;
  --warn: 23.9 95.8% 35.1%;
  --warn-foreground: 60 9.1% 97.8%;
  --success: 142.1 60.2% 25.3%;
  --success-foreground: 60 9.1% 97.8%;
  --border: 12 6.5% 15.1%;
  --input: 12 6.5% 15.1%;
  --ring: 24 5.7% 82.9%;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
  --radius: 0.5rem;
}

.theme-blue {
  --background: 198 48% 95%;
  --foreground: 198 5% 10%;
  --card: 198 48% 90%;
  --card-foreground: 198 5% 15%;
  --popover: 198 48% 95%;
  --popover-foreground: 198 95% 10%;
  --primary: 198 43% 41%;
  --primary-foreground: 0 0% 100%;
  --secondary: 198 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 160 30% 85%;
  --muted-foreground: 198 5% 40%;
  --accent: 160 30% 80%;
  --accent-foreground: 198 5% 15%;
  --destructive: 0 50% 48%;
  --destructive-foreground: 198 5% 90%;
  --warn: 30.9 95.8% 60.1%;
  --warn-foreground: 60 9.1% 97.8%;
  --success: 142.1 76.2% 36.3%;
  --success-foreground: 60 9.1% 97.8%;
  --border: 198 30% 50%;
  --input: 198 30% 48%;
  --ring: 198 43% 41%;
  --radius: 0.5rem;
  --chart-1: 198 43% 41%;
  --chart-2: 198 30% 70%;
  --chart-3: 160 30% 80%;
  --chart-4: 142.1 76.2% 36.3%;
  --chart-1-foreground: 0 0% 100%;
  --chart-2-foreground: 0 0% 0%;
  --chart-3-foreground: 198 5% 15%;
  --chart-4-foreground: 60 9.1% 97.8%;
}
.theme-blue-dark {
  --background: 198 48% 10%;
  --foreground: 198 5% 90%;
  --card: 198 48% 10%;
  --card-foreground: 198 5% 90%;
  --popover: 198 48% 5%;
  --popover-foreground: 198 5% 90%;
  --primary: 198 43% 41%;
  --primary-foreground: 0 0% 100%;
  --secondary: 198 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 160 30% 25%;
  --muted-foreground: 198 5% 60%;
  --accent: 160 30% 25%;
  --accent-foreground: 198 5% 90%;
  --destructive: 0 50% 48%;
  --destructive-foreground: 198 5% 90%;
  --warn: 23.9 95.8% 35.1%;
  --warn-foreground: 60 9.1% 97.8%;
  --success: 142.1 60.2% 25.3%;
  --success-foreground: 60 9.1% 97.8%;
  --border: 198 30% 48%;
  --input: 198 30% 48%;
  --ring: 198 43% 41%;
  --radius: 0.5rem;
  --chart-1: 198 43% 41%;
  --chart-2: 198 30% 20%;
  --chart-3: 160 30% 25%;
  --chart-4: 142.1 60.2% 25.3%;
  --chart-1-foreground: 0 0% 100%;
  --chart-2-foreground: 0 0% 100%;
  --chart-3-foreground: 198 5% 90%;
  --chart-4-foreground: 60 9.1% 97.8%;
}

.theme-red {
  --background: 2 48% 95%;
  --foreground: 2 5% 10%;
  --card: 2 48% 90%;
  --card-foreground: 2 5% 15%;
  --popover: 2 48% 95%;
  --popover-foreground: 2 95% 10%;
  --primary: 2 43% 41%;
  --primary-foreground: 0 0% 100%;
  --secondary: 2 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -36 30% 85%;
  --muted-foreground: 2 5% 40%;
  --accent: -36 30% 80%;
  --accent-foreground: 2 5% 15%;
  --destructive: 0 50% 48%;
  --destructive-foreground: 2 5% 90%;
  --warn: 30.9 95.8% 60.1%;
  --warn-foreground: 60 9.1% 97.8%;
  --success: 142.1 76.2% 36.3%;
  --success-foreground: 60 9.1% 97.8%;
  --border: 2 30% 50%;
  --input: 2 30% 48%;
  --ring: 2 43% 41%;
  --radius: 0.5rem;
  --chart-1: 2 43% 41%;
  --chart-2: 2 30% 70%;
  --chart-3: -36 30% 80%;
  --chart-4: 142.1 76.2% 36.3%;
  --chart-1-foreground: 0 0% 100;
  --chart-2-foreground: 0 0% 0%;
  --chart-3-foreground: 2 5% 15%;
  --chart-4-foreground: 60 9.1% 97.8%;
}
.theme-red-dark {
  --background: 2 48% 10%;
  --foreground: 2 5% 90%;
  --card: 2 48% 10%;
  --card-foreground: 2 5% 90%;
  --popover: 2 48% 5%;
  --popover-foreground: 2 5% 90%;
  --primary: 2 43% 41%;
  --primary-foreground: 0 0% 100%;
  --secondary: 2 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: -36 30% 25%;
  --muted-foreground: 2 5% 60%;
  --accent: -36 30% 25%;
  --accent-foreground: 2 5% 90%;
  --destructive: 0 50% 48%;
  --destructive-foreground: 2 5% 90%;
  --warn: 23.9 95.8% 35.1%;
  --warn-foreground: 60 9.1% 97.8%;
  --success: 142.1 60.2% 25.3%;
  --success-foreground: 60 9.1% 97.8%;
  --border: 2 30% 48%;
  --input: 2 30% 48%;
  --ring: 2 43% 41%;
  --radius: 0.5rem;
  --chart-1: 2 43% 41%;
  --chart-2: 2 30% 20%;
  --chart-3: -36 30% 25%;
  --chart-4: 142.1 60.2% 25.3%;
  --chart-1-foreground: 0 0% 100%;
  --chart-2-foreground: 0 0% 100%;
  --chart-3-foreground: 2 5% 90%;
  --chart-4-foreground: 60 9.1% 97.8%;
}

.theme-green {
  --background: 130 48% 95%;
  --foreground: 130 5% 10%;
  --card: 130 48% 90%;
  --card-foreground: 130 5% 15%;
  --popover: 130 48% 95%;
  --popover-foreground: 130 95% 10%;
  --primary: 130 43% 41%;
  --primary-foreground: 0 0% 100%;
  --secondary: 130 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 92 30% 85%;
  --muted-foreground: 130 5% 40%;
  --accent: 92 30% 80%;
  --accent-foreground: 130 5% 15%;
  --destructive: 0 50% 48%;
  --destructive-foreground: 130 5% 90%;
  --warn: 30.9 95.8% 60.1%;
  --warn-foreground: 60 9.1% 97.8%;
  --success: 142.1 76.2% 36.3%;
  --success-foreground: 60 9.1% 97.8%;
  --border: 130 30% 50%;
  --input: 130 30% 48%;
  --ring: 130 43% 41%;
  --radius: 0.5rem;
  --chart-1: 130 43% 41%;
  --chart-2: 130 30% 70%;
  --chart-3: 92 30% 80%;
  --chart-4: 142.1 76.2% 36.3%;
  --chart-1-foreground: 0 0% 100%;
  --chart-2-foreground: 0 0% 0%;
  --chart-3-foreground: 130 5% 15%;
  --chart-4-foreground: 60 9.1% 97.8%;
}
.theme-green-dark {
  --background: 130 48% 10%;
  --foreground: 130 5% 90%;
  --card: 130 48% 10%;
  --card-foreground: 130 5% 90%;
  --popover: 130 48% 5%;
  --popover-foreground: 130 5% 90%;
  --primary: 130 43% 41%;
  --primary-foreground: 0 0% 100%;
  --secondary: 130 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 92 30% 25%;
  --muted-foreground: 130 5% 60%;
  --accent: 92 30% 25%;
  --accent-foreground: 130 5% 90%;
  --destructive: 0 50% 48%;
  --destructive-foreground: 130 5% 90%;
  --warn: 23.9 95.8% 35.1%;
  --warn-foreground: 60 9.1% 97.8%;
  --success: 142.1 60.2% 25.3%;
  --success-foreground: 60 9.1% 97.8%;
  --border: 130 30% 48%;
  --input: 130 30% 48%;
  --ring: 130 43% 41%;
  --radius: 0.5rem;
  --chart-1: 130 43% 41%;
  --chart-2: 130 30% 20%;
  --chart-3: 92 30% 25%;
  --chart-4: 142.1 60.2% 25.3%;
  --chart-1-foreground: 0 0% 100%;
  --chart-2-foreground: 0 0% 100%;
  --chart-3-foreground: 130 5% 90%;
  --chart-4-foreground: 60 9.1% 97.8%;
}

.theme-purple {
  --background: 277 48% 95%;
  --foreground: 277 5% 10%;
  --card: 277 48% 90%;
  --card-foreground: 277 5% 15%;
  --popover: 277 48% 95%;
  --popover-foreground: 277 95% 10%;
  --primary: 277 43% 41%;
  --primary-foreground: 0 0% 100%;
  --secondary: 277 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 239 30% 85%;
  --muted-foreground: 277 5% 40%;
  --accent: 239 30% 80%;
  --accent-foreground: 277 5% 15%;
  --destructive: 0 50% 48%;
  --destructive-foreground: 277 5% 90%;
  --warn: 30.9 95.8% 60.1%;
  --warn-foreground: 60 9.1% 97.8%;
  --success: 142.1 76.2% 36.3%;
  --success-foreground: 60 9.1% 97.8%;
  --border: 277 30% 50%;
  --input: 277 30% 48%;
  --ring: 277 43% 41%;
  --radius: 0.5rem;
  --chart-1: 277 43% 41%;
  --chart-2: 277 30% 70%;
  --chart-3: 239 30% 80%;
  --chart-4: 142.1 76.2% 36.3%;
  --chart-1-foreground: 0 0% 100%;
  --chart-2-foreground: 0 0% 0%;
  --chart-3-foreground: 277 5% 15%;
  --chart-4-foreground: 60 9.1% 97.8%;
}
.theme-purple-dark {
  --background: 277 48% 10%;
  --foreground: 277 5% 90%;
  --card: 277 48% 10%;
  --card-foreground: 277 5% 90%;
  --popover: 277 48% 5%;
  --popover-foreground: 277 5% 90%;
  --primary: 277 43% 41%;
  --primary-foreground: 0 0% 100%;
  --secondary: 277 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 239 30% 25%;
  --muted-foreground: 277 5% 60%;
  --accent: 239 30% 25%;
  --accent-foreground: 277 5% 90%;
  --destructive: 0 50% 48%;
  --destructive-foreground: 277 5% 90%;
  --warn: 23.9 95.8% 35.1%;
  --warn-foreground: 60 9.1% 97.8%;
  --success: 142.1 60.2% 25.3%;
  --success-foreground: 60 9.1% 97.8%;
  --border: 277 30% 48%;
  --input: 277 30% 48%;
  --ring: 277 43% 41%;
  --radius: 0.5rem;
  --chart-1: 277 43% 41%;
  --chart-2: 277 30% 20%;
  --chart-3: 239 30% 25%;
  --chart-4: 142.1 60.2% 25.3%;
  --chart-1-foreground: 0 0% 100%;
  --chart-2-foreground: 0 0% 100%;
  --chart-3-foreground: 277 5% 90%;
  --chart-4-foreground: 60 9.1% 97.8%;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  div,
  p,
  span,
  a {
    @apply leading-5;
  }

  input {
    outline: none;
  }

  .profile-menu > .view-port-menu {
    left: auto;
    right: 0;
  }

  .title {
    @apply mb-5 text-3xl font-medium leading-none;
  }

  .sub-title-1 {
    @apply mb-5 text-2xl leading-none font-semibold text-muted-foreground;
  }

  .sub-title-3 {
    @apply mb-5 text-lg leading-none font-semibold text-muted-foreground;
  }

  .link {
    @apply text-amber-600 hover:text-amber-500 border-b-2 border-amber-700 hover:border-amber-600 cursor-pointer font-semibold;
  }

  .dialog-submit-btn {
    @apply w-full md:w-fit md:absolute md:bottom-6 md:left-[100px];
  }

  .focus {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-300 focus-visible:outline-offset-2;
  }

  .border-animated {
    @apply relative w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-secondary after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-500 after:origin-center;
  }

  .bg-animated {
    @apply relative text-xl w-fit block after:block after:content-[''] after:absolute after:h-[100%] after:top-0 after:z-[-1] after:bg-secondary after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-500 after:origin-center;
  }

  .icon-hover {
    @apply text-muted-foreground hover:bg-primary/30 h-fit w-fit p-2 relative rounded-full flex justify-center items-center cursor-pointer duration-500;
  }

  .pushed-btn {
    @apply !border-b-4 hover:!border-b-0 !transition-all;
  }
}
